/*GENERAL*/

body {
	margin: 0;
}

header {
	margin-bottom: 50px;
}

main {
	margin: 1rem;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
}

footer {
	margin-top: 80px;
	padding: 1rem;
	text-align: right; 
}



/*FONT*/

html {
	font-size: 12px;
	line-height: 1.7;
}

button {
	font-size: 1rem;
}

h2, h3, .unete div p {
	font-size: 1.5rem;;
}

@media (min-width: 850px) {
	h2 {
		font-size: 1.8rem;
	}
}

figcaption {
	font-size: 1.2rem;
}

.unete form p {
	font-size: 0.6rem;
}

footer a[href="#"] {
	font-size: 2rem;
}

.div2-footer {
	font-size: 0.9rem;
	line-height: 1;
}

.menu-italics {
	font-style: italic;
}

.section-carteles a {
	font-weight: 700;
}

.section-carteles ul a {
	color: initial;
	font-size: 0.9rem;
}

body, h1 {
	font-family: 'Noto Serif', serif;
}

header, footer, form, .ariadna, button, h4, .section-carteles li {
    font-family: 'Open Sans', sans-serif;
}

.obra-autor-trailer figcaption {
	font-variant: small-caps;
}


/*COLORS*/

body {
	background-color: rgb(232, 232, 232);
	color: rgb(28, 28, 28);
}

footer {
	background-color: rgb(67, 58, 68);
	color: rgb(255, 255, 255);
} 

button {
	background-color: rgb(155, 23, 0);
	color: rgb(255, 255, 255);
	border: none;
}

button:focus {
	background-color: rgb(28, 28, 28);
}

button:hover {
	background-color: rgb(28, 28, 28);
}

button:active {
	background-color: green;
}

/*LINKS*/

a {
	text-decoration: none;
}

a:link {
	color: rgb(28, 28, 28);
}

a:visited {
	color: rgb(28, 28, 28);
}

a:focus {
	opacity: 0.5;
}

a:hover {
	opacity: 0.5;
}

a:active {
	color: green;
}

.main a {
	color: rgb(155, 23, 0);
}

.main a:focus {
	color: rgba(155, 23, 0, 0.5);
}

.main a:hover {
	color: rgba(155, 23, 0, 0.5);
}

.main a:active {
	color: green;
}

.footer a {
	color:rgb(255, 255, 255);
}

.footer a:focus {
	color: rgb(155, 23, 0);
}

.footer a:hover {
	color: rgb(155, 23, 0);
	opacity: 1;
}

.footer a:active {
	color: green;
}



/*HEADER*/

.div-button {
	margin: 0.5rem 1rem;
}

button {
	padding: 0.4rem 0.8rem;
	border-radius: 0.3em;
}

.div-isologo {
	margin: 0 0.5rem 1.2rem;
}

.div-isologo img {
	position: relative;
		top: 15px;
}

h1 {
	display: inline-block;
	margin: 0;
}

span {
	color: rgb(155, 23, 0);
	font-style: italic;
}

header li {
	list-style-type: none;
	font-weight: 700;
	padding: 0 1rem;
	
}
header ul {
	padding: 0;
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 196px;
}

@media (min-width: 600px) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}
	.div-button {
		order: 3;
	}
	header ul {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}




/*FOOTER*/

footer li {
	list-style-type: none;
}

footer ul {
	padding-left: 0;
}

footer li, footer p {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div1-footer nav {
	margin: 40px 0;
}

.div1-footer nav {
	margin-bottom: 30px;
}

@media (min-width: 600px) {
	.div1-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	footer ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.div2-footer p {
		align-items: flex-start;
	}
	.vinneta::after {
	content: " • ";
	margin: 0 0.9rem;
	}
}



/*INDEX section ¿Qué es Oscars?*/

.que-es-oscars {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.que-es-oscars p {
	max-width: 530px;
	margin-left: auto;
	margin-right: auto;
}

/*INDEX section ¿Cómo funciona?*/

h2 {
	text-align: center;
}

.como-funciona div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

@media (min-width: 500px) {
	.como-funciona div {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/*INDEX section Únete al club*/

.div-unete div {
	display: flex;
	flex-direction: column;
	min-width: 336px;
}

.div-unete p:nth-child(1), .div-unete p:nth-child(2) {
	margin-top: 0;
}

.div-unete p:nth-child(1) {
	margin-bottom: 0;
}

.div-unete form {
	display: flex;
	flex-direction: column;
	min-width: 336px;
	max-width: 336px;
}

.div-unete button {
	width: 110px;
	height: 34px;
	margin-top: 0.5rem;
}

.div-unete {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 750px) {
	.div-unete {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.div-unete div {
		max-width: 336px;
	}
}

@media (min-width: 850px) {
	.div-unete div, .div-unete form {
		margin: 0 75px;
	}
}

.unete input[type="text"], .unete input[type="email"], .unete input[type="password"]  {
	max-width: 336px;
	height: 30px;
	margin-top: 0.5rem;
}

.unete input:valid {
    border: solid green 2px;
}



/*CLUBES TEMÁTICOS*/

figure {
	margin: 2rem auto;
}

.div-clubes figcaption::before {
	content: " ······ ";
	margin: 0 0.5rem 0 0.1rem;
	color: rgb(155, 23, 0);
}

.div-clubes div {
	max-width: 336px;
}

.div-clubes {
	display: flex;
	flex-direction: column;
	max-width: 1075px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 500px) {
	.div-clubes {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}



/*SESIONES 2020*/

.sesiones-2020 {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.section-carteles ul {
	padding-left: 0;
	list-style-type: none;
}

h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.div-carteles figure {
	background-color: rgb(255, 255, 255);
	width: 180px;
	height: 310px;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#de-otra-epoca figure {
	height: 340px;
}

.div-carteles div {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.div-carteles h4::before {
	content: " ··· ";
	margin: 0 0.5rem 0 1rem;
	color: rgb(155, 23, 0);
}

.div-carteles h4 {
	margin-bottom: 0.5rem;
}

@media (min-width: 550px) {
	.div-carteles div {
		flex-direction: row;
		justify-content: center;
	}
	.div-carteles section {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.section-carteles {
		border-top: rgb(155, 23, 0) solid 1px;
	}
}

.section-carteles {
	max-width: 790px;
	margin-left: auto;
	margin-right: auto;

}	

@media (min-width: 800px) {
	.section-carteles {
		display: flex;
		justify-content: space-between;		
	}
	.div-carteles figure {
		margin-left: 10px;
		margin-right: 10px;
	}
}



/*DETALLE-SESIÓN*/

.ariadna li:last-of-type {
	color: rgba(28, 28, 28, 0.5);
}

.ariadna li:last-of-type::before, .ariadna li:nth-of-type(2)::before  {
	content: " / ";
	margin: 0 5px;
}

.ariadna li {
	display: inline-block;
}

.ariadna ul {
	padding-left: 0;
}

.ariadna {
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

@media (min-width: 600px) {
	.ariadna ul {
		text-align: left;
	}
}

.h2-klaus {
	text-align: left;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.div-klaus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 800px) {
	.obra-autor-trailer {
		margin-left: 2rem;
	}
}

aside {
	max-width: 336px;
	margin-bottom: 50px;
}

dt {
	font-weight: 700;
	border-bottom: solid black 1px;
}
dl {
	margin-bottom: 0;
}

.obra-autor-trailer {
	max-width: 450px;
	margin-top: 0;
}

.div-klaus h3 {
	margin-top: 0;
}

.obra-autor-trailer img {
	border-radius: 50%;
	float: left;
	shape-outside: circle();
	width: 110px;
}

@media (min-width: 474px) {
	iframe {
		width: 450px;
		height: 253px;
	}

}

.obra-autor-trailer section:first-of-type  {
	margin-top: 0;
}

.obra-autor-trailer, .obra-autor-trailer section:last-of-type, .obra-autor-trailer section:last-of-type figure {
	margin-bottom: 0;
} 

